# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.UnityMLMovingEthan.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Bryan\Unity\UnityMLMovingEthan\.idea\.idea.UnityMLMovingEthan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
